
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvAe-Q_gFiX6G5HcVOAwVHiAK4M0C6Pjs&callback=console.debug&libraries=places"></script>


<header class="mt-28 text-center">
  <h1 class="text-3xl font-bold mb-10">When's the next <i>total</i> solar eclipse for me?</h1>
  <p class="text-lg mb-3">Your city, state (or address)</p>
  <input id="searchTextField" type="text" size="50" placeholder="Enter a location" autocomplete="on" runat="server" class="w-50" autofocus=true>
  <input
    id="go-button"
    type="button"
    value="Go"
    class="border border-black h-10 w-16 bg-gray-200 hover:cursor-pointer"
    data-action="click->main#calculate"
    data-time-period-value="SE2001"
  >
  <p class="text-xs mt-2 text-gray-400">
    Predictions by Fred Espenak & Chris O'Byrne (NASA's GSFC)
  </p>
</header>

<article class="w-full flex justify-center items-center flex-col mt-14 hidden">
  <div id="qualifications" class="hidden"></div>
  <header class="text-2xl font-medium mb-6 underline underline-offset-4">The <i class="font-bold">next time</i> one can be seen from <span class="my-location"></span> will be:</header>
  <div id="my-results" class="w-96 h-full space-y-14"></div>

  <header class="text-2xl font-medium mb-6 underline underline-offset-4 mt-10">The <i class="font-bold">last time</i> one could be seen from <span class="my-location"></span> was:</header>
  <div id="previous-results" class="w-96 h-full space-y-14"></div>

  <header class="text-2xl font-medium mb-6 underline underline-offset-4 mt-10">Total solar eclipses that will occur <i class="font-bold">within an hour drive</i> of <span class="my-location"></span> will be:</header>
  <div id="nearby-results" class="w-96 h-full space-y-14"></div>
</article>

<div id="singlecolumn" class="<%= params[:debug].blank? && 'hidden' %>">
  <div class="hidden">
    <h2><strong>
      NORTH AMERICA, CENTRAL AMERICA & CARIBBEAN
    </strong></h2>
    <h2>Instructions</h2>
    <p>
      The JavaScript Solar Eclipse Explorer can compute the local circumstances for every solar eclipse visible from a city for any century from -1499 to 3000 (1500 BCE to 3000 CE).
      Just follow these instructions:

      <ul>
          <li>Section 1 - Select a city from the drop-down menu or manually enter the geographic coordinates and time zone.</li>
          <li>Section 2 - Choose the desired century by clicking the button.</li>
          <li>Section 3 - A table will be generated giving the local circumstances for every eclipse visible from the city.</li>
      </ul>

    </p>
    <p>
      All times are displayed in local time using the value from the <em>Time Zone</em> field in Section 1 (add 1 hour for Daylight Saving Time).
      A time followed by "(r)" means the event is already in progress at sunrise.
      Similarly, a time followed by "(s)" means the event is still in progress at sunset.
      In such cases, the times and circumstances given are for sunrise or sunset, respectively.
      The times of sunrise and sunset are calculated when the Sun's lower limb touches the horizon.
      For more information about the local circumstances table, see <a href="JSEX-key.html">Key to Solar Eclipse Explorer</a>.
    </p>
    <pre>
    </pre>
  </div>

  <form name="eclipseform">
    <div>
      <table border="0" cellspacing="14">
        <h2>Section 1: City Coordinates</h2>
        <tr><td>Choose city, or enter coordinates: </td></tr>
        <tr><td>
          <select name="cityndx" data-action="change->main#citychange" id="el_cities">
            <option value="-1">Choose City...</option>
          </select>
          </td>
        </tr>
      </table>
    </div>

    <div>
      <table border="0">
        <tr>
          <td> Name: </td>
          <td>
            <input type="text" name="loc_name" size="30" onchange="newloc()">
          </td>
        </tr>
        <tr>
          <td> Latitude: </td>
          <td>
              <input type="text" id="latd" name="latd" size="3" value="30" onchange="newloc()"> deg
              <input type="text" id="latm" name="latm" size="3" value="16" onchange="newloc()"> min
              <input type="text" id="lats" name="lats" size="3" value="0" onchange="newloc()"> sec
                <select id="latx" name="latx" size="1" onchange="newloc()">
                  <option value="1" selected>N</option>
                  <option value="-1">S</option>
                </select>
          </td>
        </tr>
        <tr>
        <td>Longitude: </td>
        <td>
              <input type="text" size="3" id="lond" name="lond" value="97" onchange="newloc()"> deg
              <input type="text" size="3" id="lonm" name="lonm" value="44" onchange="newloc()"> min
              <input type="text" size="3" id="lons" name="lons" value="0" onchange="newloc()"> sec
                <select id="lonx" name="lonx" size="1" onchange="newloc()">
                  <option value="1" selected>W</option>
                  <option value="-1">E</option>
                </select>
        </td>
        </tr>
        <tr>
          <td>Altitude: </td>
              <td><input type="text" size="5" id="alt" name="alt" value="182" onchange="newloc()"> meters</td>
        </tr>
        <tr>
              <td>Time Zone: </td>
              <td>
              <select id="tzh" name="tzh" size="1" onchange="newloc()">
                  <option value="0">00</option>
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6" selected>06</option>
                  <option value="7">07</option>
                  <option value="8">08</option>
                  <option value="9">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                </select>

                <select id="tzm" name="tzm" size="1" onchange="newloc()">
                  <option value="0" selected>00</option>
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option value="45">45</option>
                </select>
                <select id="tzx" name="tzx" size="1" onchange="newloc()">
                  <option value="-1">E</option>
                  <option value="1" selected>W</option>
                </select>
              </td>
            </tr>
      </table>

      <pre>
      </pre>
    </div>
  </form>

  <h2 class="hidden">Section 3: Eclipse Predictions</h2>

  <div id="el_results" class="mt-10">
  </div>

  <div class="hidden">
    <p>
      A time followed by "(r)" means the event is already in progress at sunrise, while a time followed by "(s)" means the event is still in progress at sunset.
      In such cases, the times and circumstances given are for sunrise or sunset, respectively.
    </p>


    <hr />

    <h2>Acknowledgments</h2>

    <p>The Eclipse Explorer is based on the <a href="http://www.chris.obyrne.com/Eclipses/calculator.html">JavaScript Solar Eclipse Calculator</a> created by Chris O'Byrne and Stephen McCann.
    The original calculator predicts the local circumstances for any single eclipse over the period 1970 to 2039 for a geographic position supplied by the user.
    </p>
    <p>The Eclipse Explorer presented here features drop-down menus for city coordinates and buttons to select any century from -1499 to 3000 (1500 BCE to 3000 CE).
    It can be used to explore the frequencey and circumstances of all solar eclipses visible from any location on Earth.
    The Eclipse Explorer was developed by Chris O'Byrne and Fred Espenak.
    </p>
    <p>
    The Besselian elements and values of <a href="../SEcat5/deltat.html">&#916;T</a> used in Solar Eclipse Explorer are the same as those used by <em><a href="../SEpubs/5MCSE.html">Five Millennium Canon of Solar Eclipses: -1999 to +3000</a></em>.
    For the purposes of calculating eclipse circumstances from a given place, the growing <a href="../SEcat5/uncertainty.html">uncertainty</a> in the value of <a href="../SEcat5/deltat.html">&#916;T</a> and the corresponding longitude become unacceptably large outside time period of -1499 to 3000 (1500 BCE to 3000 CE).


    <p>Permission is freely granted to reproduce this data when accompanied by an acknowledgment:</p>

    <p>"Eclipse Predictions by Fred Espenak and Chris O'Byrne (NASA's GSFC)"</p>
  </div>
</div> <!-- single column -->

